
<form action="/output" method="post">
  <div class="form-group">
    <label for="riddle1">Close to the words of life stay I,<br>But I wither, wane, and grow dry.</label>
    <select class="form-control" name="riddle1">
      <option value="correct">A Bible-pressed leaf, or flower.</option>
      <option value="incorrect">A dictionary-pressed sandwich or cookie</option>
    </select>
  </div>
  <div class="form-group">
    <label for="riddle2">To you, rude would I never be,
      <br>Though I flag my tongue for all to see.</label>
    <select class="form-control" name="riddle2">
      <option value="correct">A Dog</option>
      <option value="incorrect">A Human</option>
      <option value="incorrect">A Monkey</option>
    </select>
  </div>
  <div class="form-group">
    <label for="riddle3">Here there is no north, west, nor east,
      <br>And weather fit for not man nor beast.
    </label>
    <select class="form-control" name="riddle3">
      <option value="incorrect">The Amazon</option>
      <option value="correct">The North Pole</option>
      <option value="incorrect">The Nile River</option>
    </select>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
